/* global */

.byline {
  font-size: 14px;
  font-style: italic;
}

.intro {
  font-size: 24px;
  margin-bottom: 25px;
}

.no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.categories {
  li {
    border-bottom: 1px solid $color-light-gray;
    padding: 10px 0;
  }
}