<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Copy</h4>
      </hrgroup>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h5>Paragraphs</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique auctor arcu ac blandit. In quis varius metus. Morbi libero tellus, dignissim id risus eget, gravida dapibus purus. Integer ut velit fringilla, luctus erat non, dignissim est. Pellentesque nec nulla lectus. Phasellus id blandit lectus, nec sollicitudin neque. Duis congue metus rhoncus magna faucibus porttitor. Donec sit <b>amet mi id magna imperdiet mattis eu ac nisl</b>. Donec enim massa, lobortis quis mauris at, congue eleifend diam. Mauris ornare tempus tortor, eget lacinia enim aliquam et. Integer nunc justo, sollicitudin dictum aliquet in, vulputate id orci. Proin ac ante risus. Praesent lobortis tincidunt urna, vel aliquam est.</p>
        <p>Pellentesque diam purus, vestibulum nec sodales at, auctor sed dolor. Vivamus sollicitudin tincidunt turpis, quis molestie lacus semper eget. Aenean <i>adipiscing lacinia est ut vestibulum</i>. Donec in tristique neque. Vivamus congue libero a nisl gravida dapibus. Praesent quis turpis dolor. Integer eget nulla non magna gravida auctor eget et augue. Nullam vitae dolor egestas, tristique augue nec, tincidunt justo. Integer commodo a quam ac egestas. Proin eget urna at justo vulputate sollicitudin. <a href="#link">Aliquam sed justo ipsum</a>. Proin rhoncus ipsum quis est porta, ac porttitor ligula vehicula. Duis nisl mauris, pellentesque vitae congue a, pretium in tellus. Nunc magna augue, blandit cursus ipsum eget, iaculis tempus magna.</p>
      </div>
    </div>
  </div>
</section>