<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Images</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="/img/smartphone.jpg" alt="All images are responsive" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;img src="/img/smartphone.jpg" alt="All images are responsive" /&gt;</code></pre>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 style="margin-top:50px;">Rounded</h5>
        <img class="img-rounded" src="/img/device-unlocking.jpg" alt="All images are responsive" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;img class="img-rounded" src="/img/smartphone.jpg" alt="All images are responsive" /&gt;</code></pre>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 style="margin-top:50px;">Avatar</h5>
        <img class="img-avatar" src="/img/chairman-wheeler.jpg" alt="All images are responsive" />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="padding: 3px;">
          <pre class="prettyprint"><code>&lt;img class="img-avatar" src="/img/smartphone.jpg" alt="All images are responsive" /&gt;</code></pre></div>
      </div>
    </div>
  </div>
</section>