<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Lists</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Ordered List</h5>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ol>

        <h5>Unordered List</h5>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>

        <h5>Definition List</h5>
        <dl>
          <dt>Type 1</dt>
          <dd>Definition 1</dd>
          <dt>Type 2</dt>
          <dd>Definition 2</dd>
          <dt>Type 3</dt>
          <dd>Definition 3</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;ul&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;

&lt;ol&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;

&lt;dl&gt;
  &lt;dt&gt;...&lt;/dt&gt;
  &lt;dd&gt;...&lt;/dd&gt;
  &lt;dt&gt;...&lt;/dt&gt;
  &lt;dd&gt;...&lt;/dd&gt;
&lt;/dl&gt;</code></pre>
      </div>
    </div>
  </div>
</section>