<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Lists</h4>
      </hrgroup>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h5>Ordered List</h5>
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ol>

        <h5>Unordered List</h5>
        <ul>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>Item 3</li>
        </ul>

        <h5>Definition List</h5>
        <dl>
          <dt>Type 1</dt>
          <dd>Definition 1</dd>
          <dt>Type 2</dt>
          <dd>Definition 2</dd>
          <dt>Type 3</dt>
          <dd>Definition 3</dd>
        </dl>
      </div>
    </div>
  </div>
</section>