<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Tables</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>FRN</th>
              <th>Company Name</th>
              <th>Phone #</th>
              <th>Email Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123456</td>
              <td>My Company</td>
              <td>123-098-7654</td>
              <td>info@mycompany.com</td>
            </tr>
            <tr>
              <td>654321</td>
              <td>Inc</td>
              <td>098-765-4321</td>
              <td>info@inc.com</td>
            </tr>
            <tr>
              <td>098765</td>
              <td>Something Inc.</td>
              <td>123-456-7890</td>
              <td>info@somethinginc.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;table class="table"&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th&gt;FRN&lt;/th&gt;
      &lt;th&gt;Company Name&lt;/th&gt;
      &lt;th&gt;Phone #&lt;/th&gt;
      &lt;th&gt;Email Address&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
    &lt;tr&gt;
      &lt;td&gt;123456&lt;/td&gt;
      &lt;td&gt;My Company&lt;/td&gt;
      &lt;td&gt;123-098-7654&lt;/td&gt;
      &lt;td&gt;info@mycompany.com&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;654321&lt;/td&gt;
      &lt;td&gt;Inc&lt;/td&gt;
      &lt;td&gt;098-765-4321&lt;/td&gt;
      &lt;td&gt;info@inc.com&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;</code></pre>
      </div>
    </div>
  </div>
</section>