<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Tables</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <table class="table">
          <thead>
            <tr>
              <th>FRN</th>
              <th>Company Name</th>
              <th>Phone #</th>
              <th>Email Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>123456</td>
              <td>My Company</td>
              <td>123-098-7654</td>
              <td>info@mycompany.com</td>
            </tr>
            <tr>
              <td>654321</td>
              <td>Inc</td>
              <td>098-765-4321</td>
              <td>info@inc.com</td>
            </tr>
            <tr>
              <td>098765</td>
              <td>Something Inc.</td>
              <td>123-456-7890</td>
              <td>info@somethinginc.com</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>