<header>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h5 class="title">Style Guide</h5>
      </div>
      <div class="col-md-10">
        <nav class="pull-right">
          <a href="/branding/">Branding</a>
          <a href="/styles/">Styles</a>
          <a href="/components/">Components</a>
          <a href="/grid/">Grid</a>
          <a href="/examples/">Examples</a>
        </nav>
      </div>
    </div>
  </div>
  <!--<div class="subnav">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="pull-right">
          <a href="#sub-one">Sub Link</a>
          <a href="#sub-two">Another</a>
          <a href="#sub-three">And One More</a>
          <a href="#sub-four">Four</a>
          <a href="#sub-five">Five</a>
          <a href="#sub-six">Six</a>
          <a href="#sub-seven">Seven</a>
        </nav>
        </div>
      </div>
    </div>
  </div>-->
</header>