<section class="colors">
  <div class="container">
    <div class="row">
      <hgroup>
        <h3>Primary Colors</h3>
        <h4>'Merica</h4>
      </hrgroup>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="w-color">
          <div class="about primary-two"></div>
          <div class="about primary-two fade-75"></div>
          <div class="about primary-two fade-50"></div>
          <div class="about primary-two fade-25"></div>
          <div class="detail">
            <p><strong>Red</strong></p>
            <p>#d95752</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about white"></div>
          <div class="detail">
            <p><strong>White</strong></p>
            <p>#ffffff</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about primary-one"></div>
          <div class="about primary-one fade-75"></div>
          <div class="about primary-one fade-50"></div>
          <div class="about primary-one fade-25"></div>
          <div class="detail">
            <p><strong>Blue</strong></p>
            <p>#559dc4</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about light-gray"></div>
          <div class="detail">
            <p><strong>Light Gray</strong></p>
            <p>#eeeeee</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about dark-gray"></div>
          <div class="about dark-gray fade-75"></div>
          <div class="about dark-gray fade-50"></div>
          <div class="about dark-gray fade-25"></div>
          <div class="detail">
            <p><strong>Dark Gray</strong></p>
            <p>#303034</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="colors">
  <div class="container">
    <div class="row">
      <hgroup>
        <h3>Secondary Colors</h3>
        <h4>Complete the Spectrum</h4>
      </hgroup>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <div class="w-color">
          <div class="about secondary-one"></div>
          <div class="about secondary-one fade-75"></div>
          <div class="about secondary-one fade-50"></div>
          <div class="about secondary-one fade-25"></div>
          <div class="detail">
            <p><strong>Orange</strong></p>
            <p>#f2925d</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about secondary-two"></div>
          <div class="about secondary-two fade-75"></div>
          <div class="about secondary-two fade-50"></div>
          <div class="about secondary-two fade-25"></div>
          <div class="detail">
            <p><strong>Yellow</strong></p>
            <p>#eec768</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about secondary-three"></div>
          <div class="about secondary-three fade-75"></div>
          <div class="about secondary-three fade-50"></div>
          <div class="about secondary-three fade-25"></div>
          <div class="detail">
            <p><strong>Green</strong></p>
            <p>#99bd62</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="w-color">
          <div class="about secondary-four"></div>
          <div class="about secondary-four fade-75"></div>
          <div class="about secondary-four fade-50"></div>
          <div class="about secondary-four fade-25"></div>
          <div class="detail">
            <p><strong>Purple</strong></p>
            <p>#9683ba</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>