<section class="typography">
  <div class="container">
    <div class="row">
      <hgroup>
        <h3>Typography</h3>
        <h4>Open Sans</h4>
      </hrgroup>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <div class="w-font">
          <div class="about">
            <p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
          </div>
          <div class="detail">
            <p><strong>Normal</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="w-font">
          <div class="about">
            <p><strong>Grumpy wizards make toxic brew for the evil Queen and Jack.</strong></p>
          </div>
          <div class="detail">
            <p><strong>Bold</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="w-font">
          <div class="about">
            <p><i>Grumpy wizards make toxic brew for the evil Queen and Jack.<i></p>
          </div>
          <div class="detail">
            <p><strong>Emphasis</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>