<section class="styles clearfix">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Banner</h4>
      </hgroup>
    </div>
  </div>
  <div class="banner">
    <hgroup>
      <h1>The is the headline for the banner</h1>
      <h3>Then here is a sub-headline. We can give a brief description here about this really cool thing we are doing. It can even be pretty long like this one is.</h3>
      <button class="btn btn-info">Now get more info</button>
    </hgroup>
  </div>
</section>