<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Breadcrumb</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nav class="breadcrumb">
          <a href="#type">Home</a>
          <a href="#layout">Step 1</a>
          <a href="#components">Step 2</a>
          You are here
        </nav>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;nav class="breadcrumb"&gt;
  &lt;a href="#type"&gt;Home&lt;/a&gt;
  &lt;a href="#layout"&gt;Step 1&lt;/a&gt;
  &lt;a href="#components"&gt;Step 2&lt;/a&gt;
  You are here
&lt;/nav&gt;</code></pre>
      </div>
    </div>
  </div>
</section>