<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Content Lists</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="content">
          <li>
            <p><a href="#headline">This is a headline from EDOCS</a></p>
            <p class="byline"><b>Order</b> on <b><span class="date">December 19, 2013</span></b></p>
          </li>
          <li>
            <p><a href="#headline">This is an event title</a></p>
            <p class="byline">on <b><span class="date">December 19, 2013</span></b> at <b>9:00 AM EST</b> in <b>Washington, D.C.</b></p>
          </li>
          <li>
            <p><a href="#headline">This is a blog post title</a></p>
            <p class="byline">by <b><a href="#name">Chairman Wheeler</a></b> on <b><span class="date">December 19, 2013</span></b></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;ul class="content"&gt;
&lt;li&gt;
  &lt;p&gt;&lt;a href="#headline"&gt;This is a headline from EDOCS&lt;/a&gt;&lt;/p&gt;
  &lt;p class="byline"&gt;&lt;b&gt;Order&lt;/b&gt; on &lt;b&gt;&lt;span class="date"&gt;December 19, 2013&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;li&gt;
  &lt;p&gt;&lt;a href="#event"&gt;This is an event title&lt;/a&gt;&lt;/p&gt;
  &lt;p class="byline"&gt;on &lt;b&gt;&lt;span class="date"&gt;December 19, 2013&lt;/span&gt;&lt;/b&gt; at &lt;b&gt;9:00 AM EST&lt;/b&gt; in &lt;b&gt;Washington, D.C.&lt;/b&gt;&lt;/p&gt;
&lt;/li&gt;
&lt;/ul&gt;</code></pre>
      </div>
    </div>
  </div>
</section>