<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Content Descriptions</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5>Blog Post</h5>
        <div class="content-desc">
          <img class="img-avatar" src="/img/chairman-wheeler.jpg" />
          <h3><a href="#blog-post">This is the blog post title</a></h3>
          <p class="byline">By <b><a href="#name">Chairman Wheeler</a></b> <i>on</i> <b><span class="date">December 19, 2013</span></b></p> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique auctor arcu ac blandit. In quis varius metus. Morbi libero tellus, dignissim id risus eget, gravida dapibus purus. Integer ut velit fringilla, luctus erat non, dignissim est. Pellentesque nec nulla lectus. Phasellus id blandit lectus, nec sollicitudin neque. Duis congue metus rhoncus magna faucibus porttitor.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 style="margin-top:50px;">Event</h5>
        <div class="content-desc">
          <h3><a href="#event">This is the event title</a></h3>
          <p class="byline">On <b><span class="date">December 19, 2013</span></b></p>
          <address>
            Commission Meeting Room at the FCC<br />
            445 12th Street, SW, Room TW-C305<br />
            Washington, DC 20554
          </address> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tristique auctor arcu ac blandit. In quis varius metus. Morbi libero tellus, dignissim id risus eget, gravida dapibus purus. Integer ut velit fringilla, luctus erat non, dignissim est. Pellentesque nec nulla lectus. Phasellus id blandit lectus, nec sollicitudin neque. Duis congue metus rhoncus magna faucibus porttitor.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <pre class="prettyprint"><code>&lt;div class="content-desc"&gt;
  &lt;h3&gt;&lt;a href="#event"&gt;This is the event title&lt;/a&gt;&lt;/h3&gt;
  &lt;p class="byline"&gt;On &lt;b&gt;&lt;span class="date"&gt;December 19, 2013&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;
  &lt;address&gt;
    Commission Meeting Room at the FCC&lt;br /&gt;
    445 12th Street, SW, Room TW-C305&lt;br /&gt;
    Washington, DC 20554
  &lt;/address&gt; 
  &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;</code></pre>
      </div>
    </div>
  </div>
</section>