<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Content Lists</h4>
      </hgroup>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <ul class="content">
          <li>
            <p class="byline"><b>Order</b> <i>on</i> <b><span class="date">December 19, 2013</span></b></p>
            <p><a href="#headline">This is a headline from EDOCS.</a></p>
          </li>
          <li>
            <p class="byline">On <b><span class="date">December 19, 2013</span></b> in <b>Washington, D.C.</b></p>
            <p><a href="#headline">This is an event title.</a></p>
          </li>
          <li>
            <p class="byline">By <b><a href="#name">Chairman Wheeler</a></b> <i>on</i> <b><span class="date">December 19, 2013</span></b></p>
            <p><a href="#headline">This is a blog post title.</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>