<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Header</h4>
      </hgroup>
    </div>
    <div class="row">
      <hgroup>
        <h4>Nav and Secondary Nav</h4>
      </hgroup>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">Style Guide</h5>
        </div>
        <div class="col-md-10">
          <nav class="pull-right">
            <a href="#type">Type</a>
            <a href="#layout">Layout</a>
            <a href="#components">Components</a>
            <a href="#examples">Examples</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="subnav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="pull-right">
            <a href="#links">Links</a>
            <a href="#paragraphs">Paragraphs</a>
            <a href="#headings">Headings</a>
            <a href="#lists">Lists</a>
            <a href="#abbreviations">Abbreviations</a>
            <a href="#address">Address</a>
            <a href="#blockquote">Blockquote</a>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>