<section class="styles">
  <div class="container">
    <div class="row">
      <hgroup>
        <h4>Header</h4>
      </hgroup>
    </div>
    <div class="row">
      <hgroup>
        <h4>Nav and Secondary Nav</h4>
      </hgroup>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">Style Guide</h5>
        </div>
        <div class="col-md-10">
          <nav class="pull-right">
            <a href="#one">One</a>
            <a href="#two">Two</a>
            <a href="#three">Three</a>
            <a href="#four">Four</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="subnav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="pull-right">
            <a href="#sub-one">Sub Link</a>
            <a href="#sub-two">Another</a>
            <a href="#sub-three">And One More</a>
            <a href="#sub-four">Four</a>
            <a href="#sub-five">Five</a>
            <a href="#sub-six">Six</a>
            <a href="#sub-seven">Seven</a>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <hgroup style="margin-top:40px;">
        <h4>Nav with Search</h4>
      </hgroup>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">Style Guide</h5>
        </div>
        <div class="col-md-10">
          <form class="form-inline form-search pull-right" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Search</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Search">
            </div>
          </form>
          <nav class="pull-right">
            <a href="#one">One</a>
            <a href="#two">Two</a>
            <a href="#three">Three</a>
            <a href="#four">Four</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <hgroup style="margin-top:40px;">
        <h4>Nav with Login</h4>
      </hgroup>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">Style Guide</h5>
        </div>
        <div class="col-md-10">
          <form class="form-inline form-search pull-right" role="form">
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">FRN</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="FRN">
            </div>
            <div class="form-group">
              <label class="sr-only" for="exampleInputEmail2">Password</label>
              <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Password">
            </div>
          </form>
          <nav class="pull-right">
            <a href="#one">One</a>
            <a href="#two">Two</a>
            <a href="#three">Three</a>
            <a href="#four">Four</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <hgroup style="margin-top:40px;">
        <h4>Nav Logged in</h4>
      </hgroup>
    </div>
  </div>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">Style Guide</h5>
        </div>
        <div class="col-md-10">
          <nav class="pull-right">
            <a href="#one">One</a>
            <a href="#two">Two</a>
            <a href="#three">Three</a>
            <a href="#four">Four</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="subnav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="pull-right">
              <p class="extra">Logged in as 12345</p>
              <a class="extra" href="#logout">Logout</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>