{% include header.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">FCC</h5>
        </div>
        <div class="col-md-10">
          <nav class="pull-right">
            <a class="active" href="#one">About</a>
            <a href="#two">Consumer Topics</a>
            <a href="#three">Bureaus &amp; Offices</a>
            <a href="#four">Licensing</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="subnav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="pull-right">
            <a href="#sub-one">Leadership</a>
            <a class="active" href="#sub-two">Blog</a>
            <a href="#sub-three">People</a>
            <a href="#sub-four">Events</a>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="content-desc">
            <img class="img-avatar" src="/img/chairman-wheeler.jpg" />
            <h3>The Path to a Successful Incentive Auction</h3>
            <p class="byline">By <b><a href="#name">Tom Wheeler</a>, FCC Chairman</b> <i>on</i> <b><span class="date">December 6, 2013</span></b></p>
          </div>
          <p class="intro">Since my arrival at the Commission a month ago, I have spent more time working on the Broadcast Television Spectrum Incentive Auction than any other single issue.  I am confident in the Commission’s ability to make the appropriate policy decisions.  I am also confident that the policy challenges are only part of the picture – we must also get the enabling technology right.</p>
          <p>Having spent most of the last decade helping technology-based companies from the ground up, I know the incredible challenge of taking a cutting-edge product from concept to market on deadline.  That is exactly what we are doing with the incentive auction.</p>
          <p>I have been mightily impressed by the work of the Incentive Auction Task Force.  Chairman Clyburn kept the pedal to the metal, and it shows.  Commissioners Rosenworcel and Pai have helped to sharpen the issues.  As a result, the Task Force has been working with the focus and speed of a start-up, while meeting the high standard of public engagement and deliberation required of a government agency.</p>
          <p>There are several key ingredients to fulfilling our instructions from Congress and making the incentive auction a success.  First and foremost, we absolutely must make fact-based policy decisions in an open and transparent manner.  Beyond the policy issues, however, we must also exhaustively test the operating systems and the software necessary to conduct the world’s first-of-a kind incentive auction.  This includes ensuring that such systems are user-friendly to both broadcasters and wireless carriers who will participate.</p>
          <p>And as any responsible manager knows, managing a complex undertaking such as this also requires an ongoing commitment to continuously and honestly assess its readiness and its project plan.</p>
          <p>I believe we can conduct a successful auction in the middle of 2015.  To achieve that goal, there will be a number of important milestones along the way.  The Task Force will provide more details about the timeline and milestones in a presentation at the January 2014 Commission meeting.</p>
          <p>This plan includes presenting policy recommendations in a proposed Report and Order for the Commission’s consideration early next year.  The Commission would then vote on the R&O in the spring.</p>
          <p>Concurrent with determining the rules of the road for the auction, another important aspect of the project plan will include developing the actual procedures for how the auction will be conducted.  In the second half of next year the Task Force plans to release an Auction Comment Public Notice and a Procedures Public Notice that will provide additional details and seek comment on how the specific parts of the auction will actually function.</p>
          <p>Getting the right policy and procedures for the auction is only half the job.  For the incentive auction to be a success, we must also ensure that the operating systems and software to run it work from the moment the first bid is placed, until the final broadcast station is relocated or “repacked.”</p>
          <p>I have often defined the complexity of this multi-part simultaneous process as being like a Rubik’s cube.  As part of our auction system development, we will check and recheck the auction software and system components against the auction requirements, and under a variety of scenarios replicating real life conditions.  Above and beyond our normal auction preparation procedures, our project plan for the incentive auction includes several software demonstrations for potential users in addition to the “mock auction” we typically hold to ensure the software and system performance.  Only when our software and systems are technically ready, user friendly, and thoroughly tested, will we start the auction.</p>
          <p>In announcing this project plan schedule, I am mindful of the important national interest in making available additional spectrum for flexible use.  This entire Commission is also acutely aware of the importance of the auction to fund FirstNet.  These imperatives are balanced with the recognition that we have but one chance to get the incentive auction right.  The Task Force, my fellow Commissioners, and I will spare no effort to ensure that the incentive auction not only delivers the anticipated benefits to the American people, but also serves as a model for countries around the world.</p>
        </div>
        <div class="col-md-3 col-md-offset-1">
          <h5>Recent Posts</h5>
          <ul class="content">
            <li>
              <p><a href="#headline">Mapping Progress: Connect America Fund’s Broadband Expansion</a></p>
              <p class="byline">By <b><a href="#name">Michael Byrne</a>, Geographic Information Officer</b> <i>on</i> <b><span class="date">December 18, 2013</span></b></p>
            </li>
            <li>
              <p><a href="#headline">On Secure Mobile Health Devices and a Better Future for Us All</a></p>
              <p class="byline">By <b><a href="#name">David A. Bray</a>, Chief Information Officer</b> <i>on</i> <b><span class="date">December 13, 2013</span></b></p>
            </li>
            <li>
              <p><a href="#headline">Public Input on Process Reform</a></p>
              <p class="byline">By <b><a href="#name">Diane Cornell</a>, Special Counsel, Office of the Chairman</b> <i>on</i> <b><span class="date">December 11, 2013</span></b></p>
            </li>
          </ul>
          <h5 style="margin-top:50px;">Categories</h5>
          <ul class="no-bullets categories">
            <li><a href="#list">Connecting America</a></li>
            <li><a href="#list">Consumers</a></li>
            <li><a href="#list">FCC Reform</a></li>
            <li><a href="#list">Former Chairman Genachowski</a></li>
            <li><a href="#list">Internet</a></li>
            <li><a href="#list">Media Marketplace</a></li>
            <li><a href="#list">National Broadband Plan</a></li>
            <li><a href="#list">News</a></li>
            <li><a href="#list">Open Government</a></li>
            <li><a href="#list">Public Safety</a></li>
            <li><a href="#list">Spectrum</a></li>
            <li><a href="#list">Tools & Data</a></li>
            <li><a href="#list">WISENET</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{% include components/footer.html %}