{% include header.html %}
{% include header-guide.html %}
<style>
#layout { margin-top: 20px; }
#layout .row {margin-bottom: 10px;}
#layout .row [class*="col-"] { }
#layout .row p {background:#dddddd;padding:10px;}
#layout .col-md-12 {
  float: left;
}
</style>
<div class="container" id="layout">
  <div class="row">
    <div class="col-md-12">
      <p>12 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <p>11 columns</p>
    </div>
    <div class="col-md-1">
      <p>1 col</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <p>10 columns</p>
    </div>
    <div class="col-md-2">
      <p>2 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <p>9 columns</p>
    </div>
    <div class="col-md-3">
      <p>3 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>8 columns</p>
    </div>
    <div class="col-md-4">
      <p>4 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <p>7 columns</p>
    </div>
    <div class="col-md-5">
      <p>5 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>6 columns</p>
    </div>
    <div class="col-md-6">
      <p>6 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <p>5 columns</p>
    </div>
    <div class="col-md-7">
      <p>7 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <p>4 columns</p>
    </div>
    <div class="col-md-8">
      <p>8 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <p>3 columns</p>
    </div>
    <div class="col-md-9">
      <p>9 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p>2 columns</p>
    </div>
    <div class="col-md-10">
      <p>10 columns</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <p>1 col</p>
    </div>
    <div class="col-md-11">
      <p>11 columns</p>
    </div>
  </div>  
</div>
{% include footer.html %}