{% include header.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">FCC</h5>
        </div>
        <div class="col-md-10">
          <nav class="pull-right">
            <a href="#one">About</a>
            <a href="#two">Consumer Topics</a>
            <a href="#three">Bureaus &amp; Offices</a>
            <a href="#four">Licensing</a>
            <a class="active" href="#five">Data &amp; Maps</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="subnav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="pull-right">
            <a href="#sub-one">Data</a>
            <a class="active" href="#sub-two">Maps</a>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="map">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="content-desc">
            <h3>Tribal Mobility Fund Phase I Eligible Areas</h3>
            <p class="byline">By <b>GIS Team</b> <i>on</i> <b><span class="date">September 25, 2013</span></b></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="banner" id="map">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <p>This map shows the areas identified as eligible for Tribal Mobility Fund Phase I support as of September 2013. These areas are populated US Census blocks that lack 3G or better mobile coverage at the centroid of the block. These blocks were identified by analyzing 2010 US Census data, January 2013 Mosaik Solutions data, and information submitted by third parties. Counties that contain any of these blocks are shaded light gray, and as you zoom in and mouse over these counties you will see more information on the eligible areas, including the bidding item, US Census tract, Tribal name, and population. Blocks outlined in yellow were the subject of a winning bid in Auction 901 for which the relevant long-form application remains pending. For additional information visit the <a href="http://wireless.fcc.gov/auctions/902/">  Auction 902</a> page.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <hr>
          <h5>Recent Maps</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3">
          <p><a href="#headline">Connect America Fund (CAF) Phase I Round Two</a></p>
          <p class="byline">By <b>FCC GIS Team</b> <i>on</i> <b><span class="date">September 4, 2013</span></b></p>
        </div>
        <div class="col-md-3">
          <p><a href="#headline">Tribal Mobility Fund Phase I Potentially Eligible Areas</a></p>
          <p class="byline">By <b>FCC GIS Team</b> <i>on</i> <b><span class="date">March 29, 2013</span></b></p>
        </div>
      </div>
    </div>
  </section>
{% include components/footer.html %}