{% include header.html %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <h5 class="title">Style Guide</h5>
        </div>
        <div class="col-md-10">
          <nav class="pull-right">
            <a href="#one">One</a>
            <a href="#two">Two</a>
            <a href="#three">Three</a>
            <a href="#four">Four</a>
          </nav>
        </div>
      </div>
    </div>
    <div class="subnav">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav class="pull-right">
            <a href="#sub-one">Sub Link</a>
            <a href="#sub-two">Another</a>
            <a href="#sub-three">And One More</a>
            <a href="#sub-four">Four</a>
            <a href="#sub-five">Five</a>
            <a href="#sub-six">Six</a>
            <a href="#sub-seven">Seven</a>
          </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="banner">
    <hgroup>
      <h1>The is the headline for the banner</h1>
      <h3>Then here is a sub-headline. We can give a brief description here about this really cool thing we are doing. It can even be pretty long like this one is.</h3>
      <button class="btn btn-info">Now get more info</button>
    </hgroup>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <section style="text-align:center;">
          <h4 style="text-transform:uppercase">What is device unlocking?</h4>
          <p>The FCC has announced an agreement among a number of mobile wireless service providers on standards for policies on unlocking mobile wireless devices. Unlocking a device allows consumers to move their device from one network to another compatible network. The unlocking process varies by device and by carrier. A carrier may automatically unlock a device after certain conditions are met, send instructions to customers on how to unlock a device upon request, or perform the unlocking process in-store.</p>
          <p>Some mobile devices may contain software that prevents them from being used on different mobile networks even when those networks are technologically compatible. For example, if a consumer purchased a phone from provider X to use on provider X’s network, the phone may contain software that prevents it from being operated on provider Y’s technologically compatible network. This software “locks” the phone to provider X’s network. Unauthorized circumvention of such locking software can violate the Digital Millennium Copyright Act. Consumers wishing to avoid locking software may purchase “unlocked” phones.</p>
          <hr class="mini">
          <h4 style="text-transform:uppercase">How Do I Unlock My Device?</h4>
          <p>Under the new agreement, providers will notify consumers when their devices are eligible for unlocking and providers will unlock devices or provide unlocking instructions for customers in good standing. You may also contact your current or former carrier for instructions on how to unlock your device. As part of the unlocking process, you may be asked for the telephone number associated with your device and your account number. Under the agreement, providers will unlock your device, provide you with information on how to unlock your device, or request submit an unlocking request to the device manufacturer, within 48 hours of submitting a valid request and without a fee. If your device is not eligible for unlocking, providers will provide an explanation of denial within 48 hours.</p>
        </section>
      </div>
    </div>
  </div>
{% include components/footer.html %}