.banner {
  background: $color-light-gray;
  color: $color-white;
  height: 400px;
  margin-bottom: 40px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  hgroup {
    margin-left: 15%;
    position: absolute;
    top: 150px;
    width: 70%;
  }
}