.banner {
  background: $color-dark-gray url('../img/device-unlocking.jpg') bottom left;
  height: 500px;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  hgroup {
    color: $color-white;
    margin-left: 15%;
    position: absolute;
    top: 150px;
    width: 70%;
  }
}