header {
  background: $color-dark-gray;
  color: $color-white;
  font-weight: bold;
  line-height: 1.5;
  padding: 0;
  nav {
    margin: 15px 0;
  }
  a:link, a:visited {
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
    &.active {
      border-bottom: 3px solid;
    }
  }
  a:hover {
    border-bottom: 3px solid;
  }
  h5.title, p {
    display: inline-block;
    margin: 15px 0 0;
  }
  p {
    margin: 0;
  }
  .subnav {
    background: #559dc4;

    a:link, a:visited {
      color: #ffffff;
      &.active {
        border-bottom: 3px solid;
      }
    }
  }
}