header {
  background: $color-dark-gray;
  color: $color-white;
  line-height: 1.5;
  padding: 0;
  nav {
    margin: 15px 0;
  }
  a:link, a:visited {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }
  a:hover {
    border-bottom: 3px solid;
  }
  h5.title {
    display: inline-block;
    margin: 15px 0 0;
  }
  .subnav {
    background: #559dc4;

    a:link, a:visited {
      color: #ffffff;
    }
  }
}